*.idea
*.pdf
*.vscode
*catboost_info
*__pycache__
Module 3/datasets/application_train2.csv
Module 5/datasets/creditcard.csv
Module 2/02 - Data Analysis with Python - Pandas/datasets/application_train.csv
